:root {
    --main-color-font: #006d77;
    --main-color-background: rgb(255, 240, 240);
    --main-color-hover: rgb(255, 247, 247);
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

a {
    text-decoration: none;
}

.nav-menu li {
    list-style: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
  }

  .logo img {
    width: 200px;
    height: auto;
  }
  
  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;
  }
  
  .hamburger {
    display: none;
    cursor: pointer;
  }

.nav-item {
    padding-left: 40px;
}
.nav-link{
    font-size: 1.1rem;
    font-weight: 400;
    color: #475569;
}

.nav-link:hover{
    color: #006d77;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #006d77;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #323232;
}
  
@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        z-index: 220;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .logo img {
        width: 150px;
        height: auto;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}



.main-header {
    background-blend-mode: multiply;
    background-size: cover;
    /* background-image: url(../images/flu.jpg ); 
    background-color: rgba(0, 0, 0, 0.089); */
    /* background-color: rgb(255, 239, 239); */
    border-bottom: 1px solid rgba(45, 45, 45, 0.3);
}

.content {
    position: relative;
    overflow: hidden;
}

.cosmetologist{
    width: 100vw;
}

.gallery {
    margin: 0 auto;
    width: 80%;
    padding-top: 20px;
    padding-bottom: 20px; 
}
.images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
    align-items: center;
}

.images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrap-pricing {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrap-pricing h1 {
    text-align: center;
    font-size: 2em;
    margin: 35px;
    margin-bottom: 50px;
    margin-top: 50px;
    color: #006d77;
    font-weight: 900;
}

.wrap-pricing h2 {
    text-align: center;
    margin: 35px;
    margin-top: 70px;
    color: #252525;
}


.row {
    display: grid;
    grid-template-columns: 2fr 1fr;
    border-top: 1px solid rgba(45, 45, 45, 0.3);
    transition: 0.9s;
}

.container-pricing {
    width: 60vw;
}

@media screen and (max-width: 768px) {
    .container-pricing {
        width: 90vw;
        margin: 10px;
    }
}

.row:hover{
    background-color: #f2f6f7;
}


.title {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 20px;
    margin-left: 20px;
    color: #252525;
}

.price {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #006d77; 
    font-weight: 1000;
}

.mapa {
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.4);
}

.contact-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: fit-content;
    max-width: 100%;
    justify-content: center;
    padding-top: 30px;
}

.contact-container a {
    text-decoration: none;
}

.contact-container h3 {
    font-weight: 900;
    color: rgb(81, 79, 79);
}
.contact-container p {
    font-family: 'Open Sans',sans-serif;
    font-size: .9em;
    line-height: 15px;
}


.first-row, .second-row {
    height: 550px;
    width: 430px;
    padding: 30px;
}

.first-row h3 {
    font-size: 1.25em;
    font-family: 'Roboto', sans-serif;
}

.second-row {
    background-color: #006d77;
    padding: 40px;
}

.link-wrapper, .adres, .opening-hours {
    padding-bottom: 5px;
}

.iconka {
    margin-right: 10px;
    color: var(--main-color-font);
}

.about-wraper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: fit-content;
    max-width: 100%;
    justify-content: center;
}

.photo img {
    width: 100%;
    object-fit: cover;
    border-radius: 100px;
    height: 500px;
}

@media screen and (max-width: 768px) {
    .photo img {
        height: 100%;
    }
    .photo {
        padding: 10px;
    }
}

.about h1{
    font-weight: 900;
    /* color: rgb(32, 118, 172); */
    color: #006d77;
}

.about, .photo {
    padding: 20px;
    width: 500px;
}

.photo {
    padding: 50px;
}

.about p {
    font-family: 'Open Sans',sans-serif;
    font-size: .9em;
    line-height: 20px;
    padding-top: 10px;
    border-top: 1px solid rgba(45, 45, 45, 0.3);
}

.footer {
    height: 70px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    border-top: 1px solid rgba(45, 45, 45, 0.3);
}

.footer .iconka {
    color: #006d77;
    padding: 5px;
}

/* TESTIMONIALS */
.testimonial-container {
    background-color: #edfdff;
    padding: 10px 0px 40px 0px;
}

.testimonial-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    margin: 20px;
    border: 1px solid rgba(45, 45, 45, 0.3);
    border-radius: 15px;
    transition: 0.4s;
    background-color: #f8ffff;
}

.testimonials {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: fit-content;
    max-width: 100%;
    justify-content: center;
}

.testimonial-item p {
    font-family: 'Open Sans',sans-serif;
    font-size: .9em;
    line-height: 20px;
    padding-top: 10px;
    border-top: 1px solid rgba(45, 45, 45, 0.3);
}

.testimonial-item:hover{
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.4);
}

.testimonial-item h4 {
    font-weight: 900;
    color: #272727;
    padding: 15px;
}

.section-heading {
    font-weight: 900;
    color: #006d77;
    text-align: center;
    padding: 15px;
}

.section-heading h1 {
    font-weight: 900;
    color: #006d77;
    text-align: center;
}

/* Check gallery */

.check-gallery {
    padding: 20px;
    margin: 10px 0 50px 0;; 
    display: grid;

}

.gallery-images img {
    width: 300px;
    object-fit: cover;
    height: 300px;
}

.gallery-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: fit-content;
    max-width: 100%;
    justify-content: center;
}

.check-gallery .btng {
    width: 150px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    transition: 0.4s;
    background-color: #2ea9a9;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.check-gallery .btng:hover {
    background-color: #026a74;
}

.g-button {
    padding: 20px;
}

.g-image {
    height: 300px;
}

.gallery-heading p {
    font-family: 'Open Sans',sans-serif;
    font-size: .9em;
    line-height: 20px;
    padding-top: 10px;
    border-top: 1px solid rgba(45, 45, 45, 0.3);
    color: #272727;
    font-weight: 400;
    max-width: 500px;
}

.gallery-heading {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.gallery-heading h1 {
    font-weight: 900;
    color: #006d77;
    margin: 0;
}

/* Training */
.component {
    display: flex;
    flex-direction: row;
    background-color: #006d77;
    justify-content: center;
  }

  .component h1 {
    font-weight: 900;
    color: #ffffff;
    padding: 10px 0 5px;
    line-height: 1.1;
    font-size: 2.3rem;
    letter-spacing: 1px;
  }

  .component p {
    font-family: 'Open Sans',sans-serif;
    font-size: 0.9em;
    line-height: 20px;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.733);
    color: #ffffff;
    font-weight: 400;
    max-width: 500px;
    word-spacing: 1px;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    padding: 40px;
  }

  .boxx {
    width: 550px;
    margin: 0;
  }
  
  .image-container img{
    max-width: 100%;
    object-fit: cover;
  }
  
  .content-container {
    padding: 1.2rem;
    color: #ffffff;

  }

  @media (max-width: 768px) {
    .component {
      flex-direction: column;
      height: auto;
    }
  
    .image-container {
      order: 1;
      margin-top: 1rem;
      padding: 30px;
    }
  
    .content-container {
      order: 2;
      padding: 30px;
    }

    .boxx {
        width: 100%;
    }

  }

  .training-contener {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, auto);
    align-items: left;
    width: 80vw;
    margin: 0 auto;
  }

  .course-element1 {
    grid-area: 1 / 1 / 2 / 4;
    background-color: #dcfcff;
  }
  .course-element2 {
    grid-area: 2 / 2 / 3 / 5;
    background-color: #f0feff;
  }
  .course-element3 {
    grid-area: 3 / 1 / 4 / 4;
    background-color: #a8dce1;
  }
  .course-element4 {
    grid-area: 4 / 2 / 5 / 5;
    background-color: #dcfcff;
  }
  .course-element5 {
    grid-area: 5 / 1 / 6 / 4;
    background-color: #f5fdff;
  }

  .ele {
    padding: 30px;
  }

  .ele h2 {
    font-weight: 900;
    color: #006d77;
    line-height: 1.1;
    font-size: 1.6rem;
    letter-spacing: 1px;
  }

    .ele li {
    font-family: 'Open Sans',sans-serif;
    font-size: 0.9em;
    line-height: 20px;
    padding-top: 5px;
    
    }

    .ele ul{
        list-style-position: outside;
    }

    @media (max-width: 768px) {
        .training-contener {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(5, auto);
            width: 100%;
        }

        .ele {
            grid-area: auto;
        }
    }

/* Services */
.services {
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 70vw;
    margin: 0 auto;
    padding-top: 40px;
}

.toggle-list-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 2px rgb(37, 37, 37, 0.2);
    margin: 15px;
    transition: 0.4s;
}

.toggle-list-title {
    font-weight: 800;
    color: #006d77;
    padding: 10px 20px 0px;
    line-height: 1.1;
    font-size: 1.2rem;
}

.toggle-list-description {
    font-family: 'Open Sans',sans-serif;
    font-size: 0.9em;
    line-height: 25px;
    padding: 25px;
    color: #252525;
    margin: 0;
}

.up:hover {
    background-color: hsl(184, 100%, 97%);
    cursor: pointer;
    transition: 0.8s;
}