:root {
  --main-color-font: #006d77;
  --main-color-background: rgb(255, 240, 240);
  --main-color-hover: rgb(255, 247, 247);
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

a {
  text-decoration: none;
}

.nav-menu li {
  list-style: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.logo img {
  width: 200px;
  height: auto;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
}

.nav-item {
  padding-left: 40px;
}
.nav-link {
  font-size: 1.1rem;
  font-weight: 400;
  color: #475569;
  border-bottom: 2px solid white;
  transition: 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav-link:hover {
  color: #006d77;
  border-bottom: 2px solid #006d77;
}

.contact-link {
  font-size: 1.1rem;
  padding: 5px;
  font-weight: 600;
  transition: 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #006d77;
}

@media only screen and (max-width: 992px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 220;
  }

  .nav-menu-toggled {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 5rem;
    left: 0;
    z-index: 100;
    transition: 0.3s;
  }

  .nav-menu-toggled li {
    margin: 1.2rem;
    list-style: none;
    padding: 0;
  }

  .nav-menu.active {
    left: 0;
  }

  .hamburger-menu {
    display: block;
    cursor: pointer;
  }

  .logo img {
    width: 150px;
    height: auto;
  }
}

.main-header {
  background-blend-mode: multiply;
  background-size: cover;
  /* background-image: url(../images/flu.jpg ); 
    background-color: rgba(0, 0, 0, 0.089); */
  /* background-color: rgb(255, 239, 239); */
  border-bottom: 1px solid rgba(45, 45, 45, 0.3);
}

.content {
  position: relative;
  overflow: hidden;
}

.cosmetologist {
  width: 100vw;
}

.gallery {
  margin: 0 auto;
  width: 80%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.images {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
  align-items: center;
}

.images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrap-pricing {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrap-pricing p {
  text-align: center;
  margin-bottom: 100px;
  color: #3f3f3f;
  font-size: 1.2em;
  font-weight: 500;
}

.wrap-pricing .main-title,
.wrap-pricing h1 {
  text-align: center;
  font-size: 2em;
  margin: 35px;
  margin-bottom: 50px;
  margin-top: 50px;
  color: #006d77;
  font-weight: 900;
}

.wrap-pricing h2 {
  text-align: center;
  margin: 35px;
  margin-top: 70px;
  color: #252525;
}
.wrap-pricing h1 {
  margin-bottom: 0px;
}
.row {
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-top: 1px solid rgba(45, 45, 45, 0.3);
  transition: 0.9s;
}

.container-pricing {
  width: 60vw;
}

@media screen and (max-width: 768px) {
  .container-pricing {
    width: 90vw;
    margin: 10px;
  }
}

.row:hover {
  background-color: #f2f6f7;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding: 20px;
  margin-left: 20px;
  color: #252525;
}

.price {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #006d77;
  font-weight: 1000;
}

.contact-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: fit-content;
  max-width: 100%;
  justify-content: center;
}

.mapa {
  height: 100%;
  width: 100%;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.4);
}
.contact-container a {
  text-decoration: none;
  font-weight: 600;
}

.contact-container a:hover {
  color: #006d77;
  border-bottom: 2px solid #006d77;
}

.contact-container h1 {
  font-weight: 900;
  color: rgb(81, 79, 79);
}
.contact-container p,
.contact-container a {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 15px;
  color: rgb(41, 41, 41);
}

.contact-container p {
  margin: 0;
}

.contact-container .link-item {
  padding: 0.4rem;
}

.link-item span {
  font-size: large;
  color: #00656e;
  font-weight: 600;
}

.first-row,
.second-row {
  height: 630px;
  width: 430px;
  padding: 30px;
}

.first-row h3 {
  font-size: 1.25em;
  font-family: "Roboto", sans-serif;
}

.second-row {
  background-color: #006d77;
  padding: 40px;
}

.link-wrapper,
.adres,
.opening-hours {
  padding-bottom: 5px;
}

.iconka {
  margin-right: 10px;
  color: var(--main-color-font);
}

.about-wraper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: fit-content;
  max-width: 100%;
  justify-content: center;
}

.photo img {
  width: 100%;
  object-fit: cover;
  border-radius: 40px;
}

.about h1 {
  font-weight: 900;
  /* color: rgb(32, 118, 172); */
  color: #006d77;
}

.about,
.photo {
  padding: 20px;
  width: 60vw;
}

.photo {
  width: 450px;
  padding: 50px;
}

.about p {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  line-height: 23px;
  padding-top: 10px;
  border-top: 1px solid rgba(45, 45, 45, 0.3);
}

.leaflet-control-attribution a {
  display: none;
}
@media screen and (max-width: 768px) {
  .photo img {
    height: 100%;
  }
  .photo {
    padding: 30px;
  }
  .about {
    width: 90vw;
    padding: 20px;
  }
}

/* CHECK ME */

.check-me {
  margin: 2rem 0;
}

.check-me .about {
  width: 40%;
  padding: 30px;
  align-items: center;
  justify-content: center;
}

.check-me .photo {
  padding: 30px;
}

.check-me .photo img {
  height: 40vh;
  border-radius: 0px;
}

.check-me .about .check-services-heading {
  display: inline;
  align-items: flex-start;
}

.check-me .about .check-services-btn {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .check-me .about {
    width: 90%;
  }
  .check-me .photo img {
    width: 100%;
    height: 40vh;
  }
}

/* FOOTER */

.footer {
  height: 10vh;
  width: 100%;
  background-color: #ffffff;
  border-top: 1px solid rgba(45, 45, 45, 0.3);
}

.footer a {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 900;
  color: #006d77;
}

.footer-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.footer-icon {
  margin-right: 2.5rem;
}

.iconka {
  color: #006d77;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.booksy {
  width: 1.7rem;
  height: 1.7rem;
}

/* TESTIMONIALS */
.testimonial-container {
  background-color: #edfdff;
  padding: 10px 0px 40px 0px;
}

.testimonial-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
  max-width: 400px;
  margin: 20px;
  border: 1px solid rgba(45, 45, 45, 0.3);
  border-radius: 15px;
  transition: 0.4s;
  background-color: #f8ffff;
}

.testimonials {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: fit-content;
  max-width: 100%;
  justify-content: center;
}

.testimonial-item p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9em;
  line-height: 20px;
  padding-top: 10px;
  border-top: 1px solid rgba(45, 45, 45, 0.3);
}

.testimonial-item:hover {
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.4);
}

.testimonial-item h1 {
  margin: 10px 0px;
  font-weight: 900;
  color: #272727;
}

.testimonial-item h2 {
  margin-top: 5px;
  font-size: 1rem;
  font-weight: 400;
  color: #4d4d4d;
  font-style: italic;
}

.section-heading {
  font-weight: 900;
  color: #006d77;
  text-align: center;
  padding: 15px;
}

.section-heading h1 {
  font-size: 2rem;
  font-weight: 900;
  color: #006d77;
  text-align: center;
}

/* Check gallery */

.check-gallery {
  padding: 20px;
  margin: 10px 0 50px 0;
  display: grid;
}

.gallery-images img {
  width: 300px;
  object-fit: cover;
  height: 300px;
}

.gallery-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: fit-content;
  max-width: 100%;
  justify-content: center;
}

.check-gallery .btng {
  width: 150px;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
  transition: 0.4s;
  background-color: #2ea9a9;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.check-gallery .btng:hover {
  background-color: #026a74;
}

.g-button {
  padding: 20px;
}

.g-image {
  height: 300px;
}

.gallery-heading p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9em;
  line-height: 20px;
  padding-top: 10px;
  border-top: 1px solid rgba(45, 45, 45, 0.3);
  color: #272727;
  font-weight: 400;
  max-width: 500px;
}

.gallery-heading {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.gallery-heading h1 {
  font-size: 2rem;
  font-weight: 900;
  color: #006d77;
  margin: 0;
}

/* Training */
.component {
  display: flex;
  flex-direction: row;
  background-color: #006d77;
  justify-content: center;
}

.component h1 {
  font-weight: 900;
  color: #ffffff;
  padding: 10px 0 5px;
  line-height: 1.1;
  font-size: 2.3rem;
  letter-spacing: 1px;
}

.component p {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 20px;
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.733);
  color: #ffffff;
  font-weight: 400;
  max-width: 500px;
  word-spacing: 1px;
}

.image-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.boxx {
  width: 560px;
  margin: 0;
  align-items: center;
}

.image-container img {
  max-width: 100%;
  object-fit: cover;
}

.content-container {
  padding: 1.2rem;
  color: #ffffff;
}

.contact-text {
  font-size: 1.3rem;
  font-weight: 400;
  color: #ffffff;
  padding: 15px 0 5px;
  line-height: 1.1;
  letter-spacing: 1px;
}

@media (max-width: 768px) {
  .component {
    flex-direction: column;
  }

  .image-container {
    order: 1;
    margin-top: 1rem;
    padding: 30px;
  }

  .content-container {
    order: 2;
    padding: 30px;
  }

  .boxx {
    width: 100%;
  }

  .component h1 {
    font-size: 1.8rem;
    margin-top: 0;
  }
}

.training-contener {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, auto);
  align-items: left;
  width: 80vw;
  margin: 0 auto;
}

.course-element1 {
  grid-area: 1 / 1 / 2 / 4;
  background-color: #dcfcff;
}
.course-element2 {
  grid-area: 2 / 2 / 3 / 5;
  background-color: #f0feff;
}
.course-element3 {
  grid-area: 3 / 1 / 4 / 4;
  background-color: #a8dce1;
}
.course-element4 {
  grid-area: 4 / 2 / 5 / 5;
  background-color: #dcfcff;
}
.course-element5 {
  grid-area: 5 / 1 / 6 / 4;
  background-color: #f5fdff;
}

.ele {
  padding: 30px;
}

.ele h2 {
  font-weight: 900;
  color: #006d77;
  line-height: 1.1;
  font-size: 1.6rem;
  letter-spacing: 1px;
}

.ele li {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 2;
  padding-top: 5px;
}

.ele ul {
  list-style-position: outside;
}

@media (max-width: 768px) {
  .training-contener {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    width: 100%;
  }

  .ele {
    grid-area: auto;
  }
}

/* Services */
.services {
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 70vw;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

.toggle-list-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 2px rgb(37, 37, 37, 0.2);
  margin: 15px;
  transition: 0.4s;
}

.toggle-list-title {
  font-weight: 800;
  color: #006d77;
  padding: 10px 20px 0px;
  line-height: 1.1;
  font-size: 1.2rem;
}

.toggle-list-description {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9em;
  line-height: 25px;
  padding: 25px;
  color: #252525;
  margin: 0;
}

.up:hover {
  background-color: hsl(184, 100%, 97%);
  cursor: pointer;
  transition: 0.8s;
}

/* First page look */

.first-page-view {
  height: 95vh;
  width: 100vw;
  background-color: #006d77;
}

figure.first-photo {
  margin: 0;
}

.first-photo img {
  height: 100%;
}

.first-photo {
  position: relative;
  height: 95vh;
  width: 100vw;
  overflow: hidden;
}

.first-text-box {
  position: absolute;
  padding: 2rem;
  top: 5rem;
  right: 8rem;
  height: 28rem;
  width: 36rem;
  background-color: #ffffff;
  z-index: 1;
  box-shadow: 0px 0px 10px 2px rgb(37, 37, 37, 0.2);
}

.first-text-box h1 {
  font-weight: 900;
  color: #006d77;
  line-height: 1.2;
  font-size: 2.2rem;
}

.first-text-box p {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  line-height: 20px;
  border-top: 1px solid rgba(116, 191, 194, 0.733);
  color: #252525;
  font-weight: 400;
  padding-top: 10px;
}

.contact-button {
  display: flex;
  justify-content: center;
  align-items: left;
  background-color: #006d77;
  color: #ffffff;
  font-weight: 800;
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.4s;
  width: 15rem;
  margin-top: 50px;
}

.first-page-view-content {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1024px) {
  .first-page-view {
    height: auto;
  }
  .first-photo img {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .first-page-view {
    height: auto;
  }

  .first-photo img {
    width: 100%;
  }

  .first-photo {
    order: 2;
    height: auto;
    background-color: #ffffff;
  }

  .first-text-box {
    order: 1;
    top: auto;
    right: auto;
    position: relative;
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 0px 0px rgb(37, 37, 37, 0.2);
  }
}

/* Check services */

.check-services {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f4feff;
}

.check-services-content {
  display: flex;
  width: 80vw;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px 50px;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .check-services-content {
    flex-direction: column;
  }

  .check-services-content .services-show-box {
    width: 100%;
    margin: 10px;
    height: auto;
  }

  .check-services-text {
    display: none;
  }
}

.services-show-box {
  transition: 0.4s;
  margin: 5px;
  box-shadow: 3px 3px 10px 1px rgb(37, 37, 37, 0.2);
  background-color: white;
  min-height: 6rem;
}

.title-serv {
  padding: 10px 20px;
  font-weight: 800;
  line-height: 1.1;
  font-size: 1.2rem;
}

.services-show-box h2 {
  font-weight: 400;
  color: #3d4a4b;
  line-height: 1.1;
  font-size: 1.3rem;
}

.check-services-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
  transition: 0.4s;
  background-color: #0b7a7a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  margin: 20px;
}

.check-services-heading {
  font-weight: 900;
  font-size: 2em;
  color: #006d77;
  text-align: center;
}

.container-service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}

.check-services-text {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  line-height: 20px;
  color: #2f2f2f;
  font-weight: 400;
  padding-top: 10px;
  width: 40vw;
  margin: 0 auto;
}

/* Animacja */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animacja {
  animation: fadeIn 1s ease-in-out;
}

.animacja-lewo {
  animation: fadeInLeft 1s ease-in-out;
}

.animacja-prawo {
  animation: fadeInRight 1s ease-in-out;
}

.scale:hover {
  transform: scale(1.1);
  background-color: #ffffff;
  margin: 0 20px;
  animation: 0.45s ease forwards;
}

@media screen and (max-width: 768px) {
  .scale:hover {
    margin: 20px;
  }
}
